[Desktop Entry]
Name=Sway (with UWSM)
Comment=An i3-compatible Wayland compositor, UWSM session
Exec=uwsm start -- sway.desktop
DesktopNames=sway;wlroots
Type=Application
