/*
!/.gitconfig
!/.gitignore
!/.gitmodules

!/.hgrc

!/.gvimrc
!/.vimrc
!/.vim
/.vim/.netrwhist

!/.muttrc
!/.mutt/gpg.rc
!/.mutt/themes
!/.mutt/cache/headers/.gitignore
!/.mailcap

!/.bash_profile
!/.bashrc
!/.dialogrc
!/.dir_colors
!/.profile
!/.zlogin
!/.zprofile
!/.zsh
!/.zshenv
!/.zshrc

!/.screenrc
!/.tmux.conf

!/.gemrc
!/.guardrc
!/.irbrc
!/.pryrc

!/.curlrc

!/.ssh/authorized_keys

!/.gtkrc-2.0
!/.terminfo
!/.Xdefaults
!/.xinitrc
!/.xserverrc
!/.xsession
!/.perl/urxvt

!/.config/awesome/README.md
!/.config/awesome/rc.lua
!/.config/awesome/themes/akoya.lua

!/.ncmpcpp/config

!/.local/bin/shot
!/.local/bin/sensible-browser
!/.local/bin/x-terminal-emulator
