# local configs
fish/local.fish
homebrew/Brewfile.local
homebrew/Brewfile.lock.json
sh/inc/*-local-*
X11/xsessionrc.local
zsh/inc/*-local-*

# fish plugins
fish/completions/_git-forgit
fish/completions/fisher.fish
fish/completions/git-forgit.bash
fish/completions/git-forgit.fish
fish/conf.d/bin/git-forgit
fish/conf.d/forgit.plugin.fish
fish/fish_variables
fish/functions/fisher.fish
