[user]
    email = pierre@guinoiseau.nz
    name = Pierre Guinoiseau
    signingkey = 0x8D1C3224FAB5BA48

[advice]
    statusHints = false

[alias]
    br = branch
    ci = commit
    co = checkout
    cp = cherry-pick
    dc = diff --cached
    df = diff
    lg = log -p
    lgs = log --stat
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    st = status

[color]
    ui = auto
[color "branch"]
    current = green
    local = yellow
    remote = blue
[color "diff"]
    meta = blue
    frag = magenta
    old = red reverse
    new = green reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[commit]
    status = false

[core]
    excludesfile = ~/.gitignore_global
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[diff]
    renameLimit = 8192
    submodule = log

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[github]
    user = peikk0

[init]
    defaultBranch = main

[log]
    decorate = auto

[merge]
    conflictstyle = diff3

[pull]
    rebase = false

[push]
    default = simple

[status]
    short = true

[include]
    path = ~/.gitconfig.local
