[submodule ".vim/pack/vendor/start/rails"]
	path = .vim/pack/vendor/start/rails
	url = https://github.com/tpope/vim-rails.git
	branch = master
[submodule ".vim/pack/vendor/start/bundler"]
	path = .vim/pack/vendor/start/bundler
	url = https://github.com/tpope/vim-bundler.git
	branch = master
[submodule ".vim/pack/vendor/start/haml"]
	path = .vim/pack/vendor/start/haml
	url = https://github.com/tpope/vim-haml.git
	branch = master
[submodule ".vim/pack/vendor/start/surround"]
	path = .vim/pack/vendor/start/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule ".vim/pack/vendor/start/markdown"]
	path = .vim/pack/vendor/start/markdown
	url = https://github.com/tpope/vim-markdown.git
	branch = master
[submodule ".vim/pack/vendor/start/fugitive"]
	path = .vim/pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule ".vim/pack/vendor/start/unimpaired"]
	path = .vim/pack/vendor/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule ".vim/pack/vendor/start/varnish"]
	path = .vim/pack/vendor/start/varnish
	url = https://github.com/empanda/vim-varnish.git
	branch = master
[submodule ".vim/pack/vendor/start/gist"]
	path = .vim/pack/vendor/start/gist
	url = https://github.com/mattn/gist-vim.git
	branch = master
[submodule ".vim/pack/vendor/start/webapi"]
	path = .vim/pack/vendor/start/webapi
	url = https://github.com/mattn/webapi-vim.git
	branch = master
[submodule ".vim/pack/vendor/start/nodejs"]
	path = .vim/pack/vendor/start/nodejs
	url = https://github.com/mmalecki/vim-node.js.git
	branch = master
[submodule ".vim/pack/vendor/start/git"]
	path = .vim/pack/vendor/start/git
	url = https://github.com/tpope/vim-git.git
	branch = master
[submodule ".vim/pack/vendor/start/html5"]
	path = .vim/pack/vendor/start/html5
	url = https://github.com/othree/html5.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/css3"]
	path = .vim/pack/vendor/start/css3
	url = https://github.com/hail2u/vim-css3-syntax.git
	branch = main
[submodule ".vim/pack/vendor/start/ruby"]
	path = .vim/pack/vendor/start/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	branch = master
[submodule ".vim/pack/vendor/start/endwise"]
	path = .vim/pack/vendor/start/endwise
	url = https://github.com/tpope/vim-endwise.git
	branch = master
[submodule ".vim/pack/vendor/start/i3-syntax"]
	path = .vim/pack/vendor/start/i3-syntax
	url = https://github.com/PotatoesMaster/i3-vim-syntax.git
	branch = master
[submodule ".vim/pack/vendor/start/liquid"]
	path = .vim/pack/vendor/start/liquid
	url = https://github.com/tpope/vim-liquid.git
	branch = master
[submodule ".vim/pack/vendor/start/dockerfile"]
	path = .vim/pack/vendor/start/dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/tabular"]
	path = .vim/pack/vendor/start/tabular
	url = https://github.com/godlygeek/tabular.git
	branch = master
[submodule ".vim/pack/vendor/start/puppet"]
	path = .vim/pack/vendor/start/puppet
	url = https://github.com/rodjek/vim-puppet.git
	branch = master
[submodule ".vim/pack/vendor/start/json"]
	path = .vim/pack/vendor/start/json
	url = https://github.com/elzr/vim-json.git
	branch = master
[submodule ".vim/pack/vendor/start/php"]
	path = .vim/pack/vendor/start/php
	url = https://github.com/StanAngeloff/php.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/commentary"]
	path = .vim/pack/vendor/start/commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule ".vim/pack/vendor/opt/pathogen"]
	path = .vim/pack/vendor/opt/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule ".vim/pack/vendor/start/python-mode"]
	path = .vim/pack/vendor/start/python-mode
	url = https://github.com/klen/python-mode.git
	branch = develop
[submodule ".vim/pack/vendor/start/javascript"]
	path = .vim/pack/vendor/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
	branch = master
[submodule ".vim/pack/vendor/start/emmet"]
	path = .vim/pack/vendor/start/emmet
	url = https://github.com/mattn/emmet-vim.git
	branch = master
[submodule ".vim/pack/vendor/start/easy-align"]
	path = .vim/pack/vendor/start/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	branch = master
[submodule ".vim/pack/vendor/start/tmux"]
	path = .vim/pack/vendor/start/tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
	branch = master
[submodule ".vim/pack/vendor/start/systemd-syntax"]
	path = .vim/pack/vendor/start/systemd-syntax
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax.git
	branch = master
[submodule ".vim/pack/vendor/start/csv"]
	path = .vim/pack/vendor/start/csv
	url = https://github.com/chrisbra/csv.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/angular"]
	path = .vim/pack/vendor/start/angular
	url = https://github.com/burnettk/vim-angular.git
	branch = master
[submodule ".vim/pack/vendor/start/javascript-libraries-syntax"]
	path = .vim/pack/vendor/start/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
	branch = master
[submodule ".zsh/plugins/syntax-highlighting"]
	path = .zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule ".vim/pack/vendor/start/mustache-handlebars"]
	path = .vim/pack/vendor/start/mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
	branch = master
[submodule ".vim/pack/vendor/start/mail"]
	path = .vim/pack/vendor/start/mail
	url = https://github.com/dbeniamine/vim-mail.git
	branch = master
[submodule ".vim/pack/vendor/start/ansible"]
	path = .vim/pack/vendor/start/ansible
	url = https://github.com/pearofducks/ansible-vim.git
	branch = master
[submodule ".vim/pack/vendor/start/mediawiki"]
	path = .vim/pack/vendor/start/mediawiki
	url = https://github.com/chikamichi/mediawiki.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/terraform"]
	path = .vim/pack/vendor/start/terraform
	url = https://github.com/hashivim/vim-terraform.git
	branch = master
[submodule ".vim/pack/vendor/start/rainbow"]
	path = .vim/pack/vendor/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
	branch = master
[submodule ".vim/pack/vendor/start/gnupg"]
	path = .vim/pack/vendor/start/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
	branch = main
[submodule ".vim/pack/vendor/start/airline"]
	path = .vim/pack/vendor/start/airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule ".vim/pack/vendor/start/airline-themes"]
	path = .vim/pack/vendor/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
[submodule ".vim/pack/vendor/start/go"]
	path = .vim/pack/vendor/start/go
	url = https://github.com/fatih/vim-go.git
	branch = master
[submodule ".vim/pack/vendor/start/gitgutter"]
	path = .vim/pack/vendor/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule ".vim/pack/vendor/start/emoji"]
	path = .vim/pack/vendor/start/emoji
	url = https://github.com/junegunn/vim-emoji.git
	branch = master
[submodule ".vim/pack/vendor/start/jinja2"]
	path = .vim/pack/vendor/start/jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
	branch = master
[submodule ".zsh/plugins/powerlevel10k"]
	path = .zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule ".vim/pack/vendor/start/tmuxline"]
	path = .vim/pack/vendor/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/brewfile"]
	path = .vim/pack/vendor/start/brewfile
	url = https://github.com/bfontaine/Brewfile.vim.git
	branch = master
[submodule ".vim/pack/vendor/opt/devicons"]
	path = .vim/pack/vendor/opt/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	branch = master
[submodule ".vim/pack/vendor/start/yaml"]
	path = .vim/pack/vendor/start/yaml
	url = https://github.com/stephpy/vim-yaml.git
	branch = master
[submodule ".vim/pack/vendor/start/fugitive-gitlab"]
	path = .vim/pack/vendor/start/fugitive-gitlab
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/zsh"]
	path = .vim/pack/vendor/start/zsh
	url = https://github.com/chrisbra/vim-zsh.git
	branch = master
[submodule ".vim/pack/vendor/start/nerdtree-git"]
	path = .vim/pack/vendor/start/nerdtree-git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
	branch = master
[submodule ".vim/pack/vendor/start/startify"]
	path = .vim/pack/vendor/start/startify
	url = https://github.com/mhinz/vim-startify.git
	branch = master
[submodule ".vim/pack/vendor/start/fzf"]
	path = .vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/fzf-bin"]
	path = .vim/pack/vendor/start/fzf-bin
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule ".vim/pack/vendor/start/ale"]
	path = .vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
	branch = master
[submodule ".vim/pack/vendor/start/workspace"]
	path = .vim/pack/vendor/start/workspace
	url = https://github.com/thaerkh/vim-workspace.git
	branch = master
[submodule ".zsh/plugins/autosuggestions"]
	path = .zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule ".vim/pack/vendor/start/ultisnips"]
	path = .vim/pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	branch = master
[submodule ".vim/pack/vendor/start/snippets"]
	path = .vim/pack/vendor/start/snippets
	url = https://github.com/honza/vim-snippets.git
	branch = master
[submodule ".vim/pack/vendor/start/youcompleteme"]
	path = .vim/pack/vendor/start/youcompleteme
	url = https://github.com/ycm-core/YouCompleteMe.git
	branch = master
[submodule ".vim/pack/vendor/start/splitjoin"]
	path = .vim/pack/vendor/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
	branch = main
[submodule ".vim/pack/vendor/start/licenses"]
	path = .vim/pack/vendor/start/licenses
	url = https://github.com/antoyo/vim-licenses.git
	branch = master
[submodule ".vim/pack/vendor/opt/nord"]
	path = .vim/pack/vendor/opt/nord
	url = https://github.com/arcticicestudio/nord-vim.git
	branch = master
[submodule ".config/nord-xresources"]
	path = .config/nord-xresources
	url = https://github.com/arcticicestudio/nord-xresources.git
	branch = master
[submodule ".config/nord-dircolors"]
	path = .config/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
	branch = master
[submodule ".vim/pack/vendor/start/rust"]
	path = .vim/pack/vendor/start/rust
	url = https://github.com/rust-lang/rust.vim.git
	branch = master
[submodule ".vim/pack/vendor/start/markdown-preview"]
	path = .vim/pack/vendor/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim.git
	branch = master
[submodule ".vim/pack/vendor/start/toml"]
	path = .vim/pack/vendor/start/toml
	url = https://github.com/cespare/vim-toml.git
	branch = main
[submodule ".vim/pack/vendor/start/hcl"]
	path = .vim/pack/vendor/start/hcl
	url = https://github.com/jvirtanen/vim-hcl.git
	branch = master
[submodule ".vim/pack/vendor/start/ps1"]
	path = .vim/pack/vendor/start/ps1
	url = https://github.com/PProvost/vim-ps1.git
	branch = master
[submodule ".zsh/plugins/vi-mode"]
	path = .zsh/plugins/vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
	branch = master
[submodule ".vim/pack/vendor/start/kubernetes"]
	path = .vim/pack/vendor/start/kubernetes
	url = https://github.com/andrewstuart/vim-kubernetes.git
	branch = master
[submodule ".vim/pack/vendor/start/helm"]
	path = .vim/pack/vendor/start/helm
	url = https://github.com/towolf/vim-helm.git
	branch = master
[submodule ".vim/pack/vendor/start/jsonnet"]
	path = .vim/pack/vendor/start/jsonnet
	url = https://github.com/google/vim-jsonnet.git
	branch = master
[submodule ".zsh/plugins/completions"]
	path = .zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
[submodule ".vim/pack/vendor/start/jq"]
	path = .vim/pack/vendor/start/jq
	url = https://github.com/bfrg/vim-jq.git
	branch = master
[submodule ".vim/pack/vendor/start/fold-rspec"]
	path = .vim/pack/vendor/start/fold-rspec
	url = https://github.com/rlue/vim-fold-rspec.git
	branch = master
