[user]
    email = pierre@guinoiseau.nz
    name = Pierre Guinoiseau
    signingkey = 0x8D1C3224FAB5BA48

[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global

[alias]
    br = branch
    ci = commit
    co = checkout
    cp = cherry-pick
    dc = diff --cached
    df = diff
    lg = log -p
    lgs = log --stat
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    st = status

[log]
    decorate = auto

[push]
    default = simple

[diff]
    renameLimit = 8192

[merge]
    conflictstyle = diff3

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[github]
    user = peikk0

[include]
    path = ~/.gitconfig.local
