@import "catppuccin-mocha.css";

* {
    font-family: MonaspiceAr NF, sans-serif;
    font-size: 11pt;
}

window#waybar {
    background-color: alpha(@base, 0.85);
    color: @text;
    border-radius: 8;
}

tooltip {
    background-color: alpha(@base, 0.85);
    color: @text;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: @overlay2;
    border-radius: 8;
}

#workspaces button.focused, #workspaces button.active {
    background-color: alpha(@blue, 0.85);
    color: @surface0;
}

#workspaces button.urgent {
    background-color: alpha(@red, 0.85);
}

#mode {
    background-color: alpha(@sky, 0.85);
}

#battery,
#clock,
#cpu,
#custom-power,
#memory,
#mode,
#mpris,
#tray,
#window,
#wireplumber {
    padding-right: 8px;
}

#workspaces {
    padding-right: 8px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#mpris {
    color: @sky;
}

#wireplumber {
    color: @green;
}

#wireplumber.muted {
    color: @peach;
}

#cpu {
    color: @blue;
}

#memory {
    color: @mauve;
}

#clock {
    color: @sapphire;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.discharging {
    color: @peach;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
